
table {
    width: 100%;
  }

  div.mat-app-background{

    margin-left: 0px;
       margin-top: 2%;
       padding:10px
  }

  .grid-container {
    margin: 20px;
  }
  
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  .mat-horizontal-stepper-header{
    display: 'inline';
  }
  .dashboard-card-content {
    text-align: center;
  }
  
  th.mat-header-cell { text-align: center; }


  .mat-form-field-underline {
      background-color: green;
    }
    :host ::ng-deep .mat-step-header .mat-step-icon {
      background-color: green;
}
 

 div.mat-step-label{
   font-size:8px;
   font-weight: 200;
   color:green;
 }
 div.mat-step-label-selected {
  font-size: 8px;
  font-weight: 200;
}
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
  float: left;
}

.col-sm-6 {
  width: 50%;
}

.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

:host ::ng-deep .mat-horizontal-stepper-header {
  display: inline;
  padding: 0px;
}


:host ::ng-deep ::child .ngx-json-viewer[_ngcontent-c13]   .segment-type-string[_ngcontent-c13]    > .segment-main[_ngcontent-c13]    > .segment-value[_ngcontent-c13] {
  color: #000; }


  
.mat-table {
  overflow: auto;
  max-height: 200px;
}